/* Contact.css */

#contact{
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
}

.ConMe{
  margin-top: 5em;
}

.DownsTree{
  position: absolute;
  width: 39em;
  left: 0;
  bottom:-3em;
}

.DownsTree2{
  position: absolute;
  width: 38em;
  rotate: 90deg;
  right: 0;
  bottom:-4em;
}

.contact-section {
    background-color: black;
    color: #fff;
    /* padding: 5rem 2rem; */
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input, textarea {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ff7518;
    background-color: #111;
    color: #fff;
    transition: border-color 0.3s ease;
  }
  
  input:focus, textarea:focus {
    border-color: #fff;
  }
  
  .cta1-btn {
    background-color: #ff7518;
    padding: 10px 20px;
    border: none;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta1-btn:hover {
    background-color: #fff;
    color: #ff7518;
  }
  
  .success-message {
    margin-top: 20px;
    color: #ff7518;
    font-weight: bold;
    animation: fadeIn 2s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


  
/* Tablet */
@media (max-width: 1024px) {
  .DownsTree {
    width: 24em;
    bottom: -3em;
    left: 1.5em;
  }

  .DownsTree2 {
    width: 24em;
    bottom: -3em;
    right: 1.5em;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .DownsTree {
    width: 17em;
    bottom: -2em;
    left: 0.9em;
  }

  .DownsTree2 {
    width: 17em;
    bottom: -2em;
    right: 0.9em;
  }
}

/* Small Mobile */
@media (max-width: 480px) {
  .DownsTree {
    width: 13em;
    bottom: -1.5em;
    left: 0.3em;
  }

  .DownsTree2 {
    width: 13em;
    bottom: -1.5em;
    right: 0.3em;
  }
}

/* Mini Mobile */
@media (max-width: 375px) {
  .DownsTree {
    width: 9em;
    bottom: -1em;
    left: 0.1em;
  }

  .DownsTree2 {
    width: 8em;
    bottom: -1em;
    right: 0.1em;
  }
}

  