/* Home.css */
.spooky-bg {
    background-image: url('House.png'); 
    background-size:inherit;
    background-position: center;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  
  .glowing-text {
    font-size: 4rem;
    text-shadow: 0 0 10px #ff7518, 0 0 20px #ff7518, 0 0 40px #ff7518;
    animation: flicker 2s infinite alternate;
  }
  
  @keyframes flicker {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.7;
      text-shadow: 0 0 20px #ff7518, 0 0 30px #ff7518, 0 0 50px #ff7518;
    }
  }
  
  .intro-text {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .cta-btn {
    /* display: inline-block; */
    margin-top: 2rem;
    padding: 10px 20px;
    background-color: #ff7518;
    color: #000;
    border: none;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    /* position: fixed;
    z-index: 100; */

    cursor: pointer;
    text-decoration: none;
  }
  
  .cta-btn:hover {
    background-color: #fff;
    color: #ff7518;
    cursor: pointer;
  }
  